body {
background-repeat: no-repeat;
background-size: 541px 560px;
}

.login-logo img
{
  position: absolute;
  top: 50px;
  left: 50px;
  width: 180px;
  height: 180px;
}

.formulario
{
  font-size: 16px;
  margin: 250px 50px;
}


/* el color de la referencia del olvidaste contraseña */
<style type="text/css"> 
  a:hover
  a:padding: 2px 2px 5px #999;
  a:link {color:white;}
  a:visited {color:white;}
  a:active {color:yellow;}
</style> 

input{
  height: 40px;
  border-radius: 10px;
  border: 0;
  margin: 6px;

}
input[type=text], input[type=password]{
  width: 250px;
  background-color: transparent;
  /*color de texto*/
  color: white;
  font-size: 18px;
  /*borde transparente*/
  border:none;
  padding-left: 20px;
   /* Linea */
   border-bottom: 1px solid #e29d42;

}
input[type=submit]{
  width: 200px;
  
  /*color de fondo */
  background-color:#e29d42;
  /*color de borde*/
  border:1px solid #e29d42;
  /*color de texto*/
  color:white;   
  font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
  font-size: 20px;
  border-radius:20px;
 text-decoration: none;
}