extends layoutConMenu
block content
  div(class="titulo")   
    h1= "bar"
  ul(class="listado") 
      each c, i in contactos 
         li 
             div(class="listado-item")
                 img(src="http://lorempixel.com/350/200")
                 span= c.getNombre()
