extends layout

block content
    div(class="login-logo")
        img(src="/imagenes/login/logo.png")
 
    div
      form(action='/login',method='post')
       div#usuariodiv(data-role='fieldcontain')
          fieldset(data-role='controlgroup')
             label(for='usuario') usuario
                input(id='usuario',type='text',value='',placeholder='',name='usuario')

       div#passworddiv(data-role='fieldcontain')
           fieldset(data-role='controlgroup')
              label(for='password') password
                 input(id='password',type='password',value='',placeholder='',name='password')

       div(data-role='fieldcontain')   
            input(type='submit',value='Ingresar')