extends layoutConMenu
block content
   div.menuprincipal
     div.izquierdo   
        a
           div.fiesta
              img(src="/imagenes/menu/fiesta.jpg")
        a
            div.cita
                img(src="/imagenes/menu/cita.jpg")
        a
            div.amigos
                img(src="/imagenes/menu/amigos.jpg")
      div.derecho
        a
            div.cumpleanos
               img(src="/imagenes/menu/cumpleaños.jpg")
        a
            div.concierto
                img(src="/imagenes/menu/concierto.jpg")
        a
            div.reunion
                img(src="/imagenes/menu/reunion.jpg")